<section class="container">
  <h2 class="favorites-tittle">Some of Our Favorites</h2>
  <p class="favorites-subtittle">Looking for something delicious?</p>
  <ul class="favorites-image-list">
    <li class="favorites-image-list-item">
      <picture class="favorites-image">
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/gamburger_tablet.webp    1x,
            ../img/gamburger_tablet@2x.webp 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="../img/gamburger_mob.webp 1x, ../img/gamburger_mob@2x.webp 2x"
        />
        <img src="../img/gamburger_mob.png" alt="Gamburger" loading="lazy" />
      </picture>
    </li>
    <li class="favorites-image-list-item">
      <picture class="favorites-image">
        <source
          media="(min-width: 768px)"
          srcset="../img/pasta_tablet.webp 1x, ../img/pasta_tablet@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="../img/pasta_mob.webp 1x, ../img/pasta_mob@2x.webp 2x/"
        />
        <img src="../img/pasta_mob.png" alt="Pasta" loading="lazy" />
      </picture>
    </li>
    <li class="favorites-image-list-item">
      <picture class="favorites-image">
        <source
          media="(min-width: 768px)"
          srcset="../img/pizza_tablet.webp 1x, ../img/pizza_tablet@2x.webp 2x"
        />
        <source
          media="(max-width: 767px)"
          srcset="../img/pizza_mob.webp 1x, ../img/pizza_mob@2x.webp 2x"
        />
        <img src="../img/pizza_mob.png" alt="Pizza" loading="lazy" />
      </picture>
    </li>
    <li class="favorites-image-list-item">
      <picture class="favorites-image">
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/chicken_tablet.webp    1x,
            ../img/chicken_tablet@2x.webp 2x
          "
        />

        <img src="../img/chicken_tablet.png" alt="Chicken" loading="lazy" />
      </picture>
    </li>
    <li class="favorites-image-list-item">
      <picture class="favorites-image">
        <source
          media="(min-width: 768px)"
          srcset="../img/salat_tablet.webp 1x, ../img/salat_tablet@2x.webp 2x"
        />

        <img src="../img/salat_tablet.png" alt="Salat" loading="lazy" />
      </picture>
    </li>
    <li class="favorites-image-list-item">
      <picture class="favorites-image">
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/borshch_tablet.webp    1x,
            ../img/borshch_tablet@2x.webp 2x
          "
        />

        <img src="../img/borshch_tablet.png" alt="Borshch" loading="lazy" />
      </picture>
    </li>
  </ul>
</section>
