<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <svg class="header-logo" width="66" height="52">
        <use href="img/sprite.svg#icon-logo"></use>
      </svg>
      <svg class="header-burger-btn" width="28" height="28">
        <use href="img/sprite.svg#icon-burger"></use>
      </svg>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item">
            <a class="header-nav-list-item-link" href="#">Home</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-list-item-link" href="#">About</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-list-item-link" href="#">Service</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-list-item-link" href="#">Menu</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-list-item-link" href="#">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header-order-btn">Order now</button>
    </div>
  </div>
</header>
