.header{
  padding: 10px 0;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav{
  display: none;
}
.header-order-btn{
  display: none;
}
@media screen and (min-width: 768px){
  .header-nav{
    display: block;
  }
  .header-burger-btn{
    display: none;
  }
  .header-nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
  }
  .header-nav-list-item-link{
    font-weight: 400;
      font-size: 14px;
      color: #000;
  }
  .header-order-btn{
    display: block;
    border-radius: 30px;
      padding: 6px 17px;
      width: 98px;
      height: 32px;
      background: #bbf330;
      font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        text-align: right;
        color: #2c2c2c;
        border: none;
  }
  .header-order-btn:hover{
    background: #ffe450;
  }
}
@media screen and (min-width: 1280px){
  .header-logo{
    margin-right: 735px;
  }
  
}